$height: 40px;
$medium-padding: 8px;
$medium-margin: 12px;
$max-width: 800px;

body {
    margin: 0;
    padding: 0;
    color: blue;
    font-family: 'sans-serif';
}

nav {
    width: 100%;
    height: calc($height + $medium-padding * 2);
    position: absolute;
    top: 0;
    border-bottom: 1px solid lightblue;
}

nav > div {
    padding: $medium-padding;
    max-width: $max-width;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

nav > div img {
    width: $height;
    height: $height;
    border-radius: 50%;
}

nav > div input {
    width: 100%;
    height: $height;
    margin: 0 0 0 $medium-padding;
    padding: $medium-padding 0 $medium-padding $medium-padding;
    border-radius: 5px;
    border: 1px solid lightblue;
    line-height: 12px;
    font-size: 14px;
    &:focus {
        outline: none;
    }
}

div.moments-container {
    padding: calc($height + $medium-padding * 3) $medium-padding;
    max-width: $max-width;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

div.moment-container {
    margin: $medium-margin;
     & img {
        width: 240px;
        height: 320px;
    }
}