$height: 50px;
$medium-padding: 8px;
$medium-margin: 12px;
$max-width: 600px;
$moments-max-width: 1200px;
$background-color: #F1F1F1;

body {
    margin: 0;
    padding: 0;
    font-family: 'sans-serif';
    background-color: $background-color;
}

nav {
    width: 100%;
    height: calc($height + $medium-padding * 2);
    position: absolute;
    top: 0;
    border-bottom: 1px solid lightblue;
}

nav > div {
    padding: $medium-padding;
    max-width: $max-width;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

nav > div img {
    width: $height;
    height: $height;
    border-radius: 50%;
}

nav > div input {
    width: 100%;
    height: $height;
    margin: 0 0 0 $medium-padding;
    padding: $medium-padding 0 $medium-padding $medium-padding;
    border-radius: 5px;
    border: 1px solid lightblue;
    line-height: 12px;
    font-size: 14px;
    background-color: $background-color;

    &:focus {
        outline: none;
    }
}

div.moments-container {
    padding: calc($height + $medium-padding * 3) $medium-padding;
    max-width: $moments-max-width;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

div.moment-container {
    margin: $medium-margin;
    background: #FFF;
    padding: 12px;

    & img {
        width: 240px;
        height: 320px;
        border-radius: 5px;
        border: 1px solid lightblue;
    }
}

.moments-container .moments-empty {
    margin: auto;
    padding-top: 12px;
}

.moment-container section.moment-title {
    padding-top: 12px;
    word-break: break-all;
    margin: auto;

    & > span {
        font-style: italic;
        font-size: 12px;
        line-height: 14px;
    }
}


@media only screen 
  and (min-device-width: 0) 
  and (max-device-width: 823px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
    div.moments-container {
        justify-content: center;
    }
}